:root {
    --dl-color-gray-border: rgb(69, 68, 74);
    --dl-color-gray-light: #f5f5f5;
    --dl-color-gray-lighter: #f5f5f5;
    --dl-color-gray-hover: #f5f5f5;
}

.admin-page-container2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
}

.home-button {
    color: rgb(69, 68, 74);
    border-style: hidden;
    background-color: transparent;
    font: inherit;
}
.post-button {
    border-style: solid;
    border-color: rgb(69, 68, 74);
}
.input-conponent-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5vw;
}

.input-form-label {
    color: white;
}
.input-container {
    width: 20vw;
}
.admin-page-container {
    display: flex;
    gap: 1vw;
    padding: 1vw 2vw 0vw 2vw;
    flex-direction: column;
}
.switch-container {
    display: flex;
    gap: 1vw;
    border-style: solid;
    border-color: rgb(69, 68, 74);
    border-radius: 2.5em;
    padding: .2svw;
    align-items: center;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1vw;
}

table tr {
    background-color: var(--dl-color-gray-lighter);
}

th,
td {
    border: 1px solid var(--dl-color-gray-border);
    padding: 0.5rem;
    text-align: center;
    white-space: nowrap;
}

thead th {
    font-weight: 600;
    background-color: var(--dl-color-gray-light);
}

tbody tr:nth-child(even) {
    background-color: var(--dl-color-gray-lighter);
}

tbody tr:hover {
    background-color: var(--dl-color-gray-hover);
}

/*the switch css
!* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #c2d7ec;
}

input:focus + .slider {
    box-shadow: 0 0 1px #c2d7ec;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}