<div>
  <link href="./input-conponent.css" rel="stylesheet" />
  <div class="input-conponent-container">
    <form class="input-conponent-form">
      <div class="input-conponent-container1">
        <label class="input-conponent-text"><span>Date</span></label>
        <input
          type="date"
          placeholder="placeholder"
          class="input-conponent-textinput input"
        />
      </div>
      <div class="input-conponent-container2">
        <label class="input-conponent-text1"><span>Temperature</span></label>
        <input
          type="number"
          placeholder="placeholder"
          class="input-conponent-textinput1 input"
        />
      </div>
      <div class="input-conponent-container3">
        <label class="input-conponent-text2"><span>Humidity %</span></label>
        <input
          type="number"
          placeholder="placeholder"
          class="input-conponent-textinput2 input"
        />
      </div>
      <div class="input-conponent-container4">
        <label class="input-conponent-text3"><span>Clouds</span></label>
        <input
          type="text"
          placeholder="placeholder"
          class="input-conponent-textinput3 input"
        />
      </div>
      <div class="input-conponent-container5">
        <label class="input-conponent-text4"><span>Wind speed</span></label>
        <input
          type="number"
          placeholder="placeholder"
          class="input-conponent-textinput4 input"
        />
      </div>
      <div class="input-conponent-container6">
        <label class="input-conponent-text5">
          <span>Wind direction(in deg)</span>
        </label>
        <input
          type="number"
          placeholder="placeholder"
          class="input-conponent-textinput5 input"
        />
      </div>
      <button type="submit" class="button"><span>Submit</span></button>
    </form>
  </div>
</div>
